# Python venv
miniproj1/
venv/

# Data and results artifacts
data/
results/

# Python cache and artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/



